
.footer {
	width: 100%;
	height: 40px;
}
.progtog-div {
	width: 70%;
	height: 60px;
	display: inline-block;
	float: left;
}
.progtog {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 10px 49px;
	float: left;
	background-color: #333;
	box-shadow: 3px 3px #202020 inset;
}
.progtog.filled {
	background-color: #646464;
	box-shadow: none;
}
.progtog.active, .progtog:hover, .progtog.active {
	background-color: #fff;
	box-shadow: none;
}
.footer .prev-div {
	width: 172px;
	float: left;
	display: inline-block;
}
.footer .next-div {
	width: 172px;
	float: right;
	display: inline-block;
}
.btn {
	font-family: "futura-pt",sans-serif;
	text-transform: uppercase;
}
.btn.prev, .btn.next {
	width: 120px;
	border-radius: 0;
	font-size: 20px;
	line-height: 30px;
	font-weight: 900;
}
.btn.prev {
	float: left;
}
.btn.next {
	float: right;
}
.btn.prev.disabled, .btn.next.disabled {
	opacity: 0.35;
}
.content {
	height: 740px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.page {
	display: none;
	position: absolute;
}
.row-third {
	height: 240px;
}
.row-half {
	height: 360px;
}
.row-twothirds {
	height: 480px;
}
@media (min-width: 1200px) {
	.content, .page {
		height: 740px;
	}
	.footer .prev-div, .footer .next-div {
		width: 172px;
	}
	.footer .progtog-div {
		width: 826px;
	}
	.progtog {
		margin-left: 49px;
		margin-right: 49px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.content, .page {
		height: 600px;
	}
	.footer .prev-div, .footer .next-div {
		width: 141px;
	}
	.footer .progtog-div {
		width: 658px;
	}
	.progtog {
		margin-left: 39px;
		margin-right: 39px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.content, .page {
		height: 510px;
	}
	.progtog {
		margin: 1% 5%;
	}
	.progtog:first-child {
		margin-left: 11%;
	}
	.progtog:last-child {
		margin-right: 11%;
	}
}
@media (max-width: 767px) {
	.progtog {
		margin: 1% 5%;
	}
	.progtog:first-child {
		margin-left: 6%;
	}
	.progtog:last-child {
		margin-right: 6%;
	}
}
@media (max-width: 480px) {
	.progtog {
		margin: 1% 4%;
	}
	.progtog:first-child {
		margin-left: 5%;
	}
	.progtog:last-child {
		margin-right: 5%;
	}
}
body {
	font-family: "museo-slab",serif;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
}
p, h2, h3, .content {
	color: #f3f3f3;
}
p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
}
h1 {
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	margin: 16px 0;
	text-transform: uppercase;
}
h2 {
	font-family: "futura-pt",sans-serif;
	font-weight: 700;
	font-size: 54px;
	line-height: 64px;
	margin: 36px 0 48px 0;
}
h3 {

}
p.intro {
	font-weight: 100;
	font-size: 22px;
	line-height: 28px;
	margin: 16px 0;
}
img.img-polaroid {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
}
.header {
	height: 80px;
	position: relative;
}
.header-left {
	height: 80px;
	width: 31%;
	float: left;
	color: #202020;
	background-color: white;
	text-align: center;
	font-family: "gothic-open-shaded",sans-serif;
}
.header-right {
	float: right;
	position: relative;
	top: -68px;
	left: 0px;
	height: 80px;
	width: 69%;
	color: #202020;
	background-color: white;
	font-family: "futura-pt",sans-serif;
}
.header-right ul {
	float: right;
	width: 96%;
	padding-right: 4%;
}
.header-right li {
	list-style: none;
	float: right;
	margin: 10px 4%;
	font-size: 20px;
	line-height: 51px;
	font-weight: 800;
	text-align: center;

}
.header-right a {
	vertical-align: sub;
}
.header-hint {
	position: absolute;
	top: 70px;
	left: 350px;
	color: #202020;
	font-family: "futura-pt",sans-serif;
	font-size: 8px;
	line-height: 8px;
	font-weight: 800;
	z-index: 5;
}

/* Icon List */
.oburt-icon-list a {
	margin: 0 43px;
	float: left;
	display: inline-block;
	text-align: center;
}
.oburt-icon-list a:first-child {
	margin: 0 43px 0 0;
}
.oburt-icon-list a:last-child {
	margin: 0 0 0 43px;
}
.oburt-icon-list a {
	display: inline-block;
	width: 128px;
	height: 128px;
	background: center no-repeat;
}
.oburt-icon-list #oburt-facebook:hover {
	
}
.oburt-icon-list #oburt-facebook {
	background-image: url('img/facebook_128x128.png');
}
.oburt-icon-list #oburt-linkedin:hover {
	
}
.oburt-icon-list #oburt-linkedin {
	background-image: url('img/linkedin_128x128.png');
}
.oburt-icon-list #oburt-twitter:hover {
	
}
.oburt-icon-list #oburt-twitter {
	background-image: url('img/twitter_128x128.png');
}
.oburt-icon-list #oburt-tumblr:hover {
	
}
.oburt-icon-list #oburt-tumblr {
	background-image: url('img/tumblr_128x128.png');
}

/* Special Spans */
span.skill, span.time, span.nyu, span.fondu, span.ultiworld {
	/*text-shadow: 2px 2px 0 #383838;*/
}
span.skill {
	/*color: #468847;*/
	color: #4FE24F;
}
span.time {
	/*color: #3A87AD;*/
	color: #59CAFF;
}
span.nyu {
	/*color: #57068C;*/
	color: #BC59FF;
}
span.fondu {
	/*color: #6E3451;*/
	/*color: #C45E91;*/
	color: #FF59AC;
}
span.ultiworld {
	/*color: #C8252C;*/
	/*color: #FF2F38;*/
	color: #FF5961;
}
span.airbnb {
	/*color: #49A2DF;*/
	color: #A5D9FF;
}

/* iPhone Carousel */
.spoton-iphone, .fondu-iphone {
	width: 122px;
	height: 230px;
	margin: 0 auto;
	background: url('img/iphone_122x230.png');
} 
#spotonCarousel, #fonduCarousel {
	width: 99px;
	top: 41px;
	margin: 0 12px;
}
#spotonCarousel .carousel-control.left, #fonduCarousel .carousel-control.left {
	left: -80%;
}
#spotonCarousel .carousel-control.right, #fonduCarousel .carousel-control.right {
	left: 135%;
}

/* Email Form */
.oburt-email-form {
	margin-bottom: 24px;
}
.oburt-email-form textarea {
	width: 98%;
	resize: none;
	overflow: auto;
	margin-bottom: 20px;
}
.oburt-email-form .btn {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	border-radius: 0;
}