
.footer {
	width: 100%;
	height: 30px;
	padding: 5px 0;

}
.progtog-div {
	width: 70%;
	height: 60px;
	display: inline-block;
	float: left;
}
.progtog {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 8px 58px;
	float: left;
	background-color: #111;
	border-radius: 2px;
}
.progtog.filled {
	background-color: #444;
}
.progtog.active, .progtog:hover, .progtog.active {
	background-color: #fff;
}
.footer .prev-div {
	width: 172px;
	float: left;
	display: inline-block;
}
.footer .next-div {
	width: 172px;
	float: right;
	display: inline-block;
}
.btn.prev {
	float: left;
}
.btn.next {
	float: right;
}
.content {
	height: 660px;
}
.row-third {
	height: 30%;
}
.row-half {
	height: 45%;
}
.row-twothirds {
	height: 60%;
}
textarea {
	width: 98%;
	resize: none;
	overflow: auto;
}
@media (min-width: 1200px) {
	.content, .page {
		height: 740px;
	}
	.footer .prev-div, .footer .next-div {
		width: 172px;
	}
	.footer .progtog-div {
		width: 826px;
	}
	.progtog {
		margin-left: 51px;
		margin-right: 51px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.content, .page {
		height: 600px;
	}
	.footer .prev-div, .footer .next-div {
		width: 141px;
	}
	.footer .progtog-div {
		width: 658px;
	}
	.progtog {
		margin-left: 39px;
		margin-right: 39px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.content, .page {
		height: 510px;
	}
	.progtog {
		margin: 1% 5%;
	}
	.progtog:first-child {
		margin-left: 11%;
	}
	.progtog:last-child {
		margin-right: 11%;
	}
}
@media (max-width: 767px) {
	.progtog {
		margin: 1% 5%;
	}
	.progtog:first-child {
		margin-left: 6%;
	}
	.progtog:last-child {
		margin-right: 6%;
	}
}
@media (max-width: 480px) {
	.progtog {
		margin: 1% 4%;
	}
	.progtog:first-child {
		margin-left: 5%;
	}
	.progtog:last-child {
		margin-right: 5%;
	}
}
.content {
	margin-top: 40px;
}
.page {
	display: none;
	position: absolute;
}
body {
	font-family: "museo-slab",serif;
}
p, h2, h3, .content {
	color: #f3f3f3;
}
p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
}
h1 {
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	margin: 16px 0;
	text-transform: uppercase;
}
h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	margin: 48px 0;
}
h3 {
	font-weight: 100;
	font-size: 22px;
	line-height: 28px;
	margin: 16px 0;
}
img.img-polaroid {
	max-width: 95%;
	max-height: 100%;
	margin: 1%;
}
.header {
	height: 80px;
	position: relative;
}
.header-left {
	height: 80px;
	width: 31%;
	float: left;
	color: #202020;
	background-color: white;
	text-align: center;
	font-family: "gothic-open-shaded",sans-serif;
}
.header-right {
	float: right;
	position: relative;
	top: -68px;
	left: 0px;
	height: 80px;
	width: 69%;
	color: #202020;
	background-color: white;
	font-family: "futura-pt",sans-serif;
}
.header-right ul {
	float: right;
	width: 100%;
}
.header-right li {
	list-style: none;
	float: right;
	margin: 10px 4%;
	font-size: 20px;
	line-height: 51px;
	font-weight: 800;

}
.header-right a {
	vertical-align: sub;
}

/* Icon List */
.oburt-icon-list ul {
	list-style: none;
}
.oburt-icon-list li {
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
}
.oburt-icon-list a {
	display: inline-block;
	width: 64px;
	height: 64px;
	background: center no-repeat;
}
.oburt-icon-list #oburt-facebook {
	background-image: url('img/facebook.png');
}
.oburt-icon-list #oburt-facebook:hover {
	background-image: url('img/facebook_hover.png');
}
.oburt-icon-list #oburt-linkedin {
	background-image: url('img/linkedin.png');
}
.oburt-icon-list #oburt-linkedin:hover {
	background-image: url('img/linkedin_hover.png');
}
.oburt-icon-list #oburt-twitter {
	background-image: url('img/twitter.png');
}
.oburt-icon-list #oburt-twitter:hover {
	background-image: url('img/twitter_hover.png');
}
.oburt-icon-list #oburt-tumblr {
	background-image: url('img/tumblr.png');
}
.oburt-icon-list #oburt-tumblr:hover {
	background-image: url('img/tumblr_hover.png');
}
.oburt-icon-list #oburt-email {
	background-image: url('img/email.png');
}
.oburt-icon-list #oburt-email:hover {
	background-image: url('img/email_hover.png');
}

/* Special Spans */
span.skill, span.time, span.nyu, span.fondu, span.ultiworld {
	/*text-shadow: 2px 2px 0 #383838;*/
}
span.skill {
	/*color: #468847;*/
	color: #4FE24F;
}
span.time {
	/*color: #3A87AD;*/
	color: #59CAFF;
}
span.nyu {
	/*color: #57068C;*/
	color: #BC59FF;
}
span.fondu {
	/*color: #6E3451;*/
	/*color: #C45E91;*/
	color: #FF59AC;
}
span.ultiworld {
	/*color: #C8252C;*/
	/*color: #FF2F38;*/
	color: #FF5961;
}

/* iPhone Carousel */
.fondu-iphone {
	width: 122px;
	height: 230px;
	margin: 0 auto;
	background: url('img/iphone_122x230.png');
} 
#fonduCarousel {
	width: 99px;
	top: 41px;
	margin: 0 12px;
}
#fonduCarousel .carousel-control.left {
	left: -80%;
}
#fonduCarousel .carousel-control.right {
	left: 135%;
}